/* Global */
.vheight-100 {
  min-height: 100vh;
}

.below-nav {
  padding-top: 5rem;
}

.view {
  margin-top: 80px;
  width: 100%;
}

.list-group-item {
  background-color: transparent;
}

.Card {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  --cardShadow: none;
  --cardShadowMargin: 0;
  position: relative;
  min-width: 100px;
  min-height: 72px;
  border-radius: var(--cardBorderRadius);
  background: var(--cardBackground);
  box-shadow: var(--cardShadowMedium);
  overflow: hidden;
  padding: 30px;
}

.NewMemeButton {
  background-color: #F65840;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.NewMemeButton:hover,
.NewMemeButton:focus,
.NewMemeButton:active {
  background-color: #471fac !important;
  border: none !important;
}

.NewMemeModal {
  color: #000 !important;
}

/* Filters and projects */

.list-group-item.active {
  background-color: #28a745;
  border-color: #28a745;
}

.list-group-item-action:hover {
  background-color: #9becae;
}

.projects-title {
  margin-top: 2rem;
}


.important {
  color: red;
}

.notbold {
  font-weight: normal;
}

​

/* it is not used */
.dummy {
  color: black;
}

.fixed-right-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1030;
  margin: 0 1.5rem 1.5rem 0;
  border-radius: 50%;
}