    #leftElementList{
    float: left;
    text-align: left;
}

#centerElementList{
    text-align: center;
}

#rightElementList{
    float: right;
    text-align: right;
}

#list{
    justify-content: space-around;
    display: flex;
}

#addTask{
    position: fixed;
    right: 10px;
    bottom: 80px;
}

.hiddenSearchBar{
    position: relative; 
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.hiddenFilter{
    padding: 5px;
}

